.design_container {
    width: 100%;
    min-height: 100vh;
}

.design_header_box {
    padding-top: 1rem;
}

.design_header_box h4 {
    font-size: 2.3rem;
    color: #ffffff;
    text-align: center;
    line-height: 1.6;
}

.design_intro h5 {
    font-size: 1.1rem;
    color: #ffffff;
    width: 68%;
    margin: 1rem auto;
    line-height: 1.6;
    text-align: center;
}

.design_section {
    width: 100%;
    min-height: 500px;
    padding: 6rem 0 4rem 0;
}

.design__image_box {
    display: grid;
    place-items: center;
    padding-bottom: 2rem;
}

.design__image_box img {
    width: 100%;
    object-fit: contain;
}

.design__principle {
    background-color: #1c1c1c;
    box-shadow: 20px 20px 25px #181818,
        -20px -20px 25px #202020;
    width: 80%;
    height: 200px;
    margin: 2rem auto;
    padding: 1rem;
    border-top: 0.3rem solid #f5a623;
    transition: all .5s;
}

.design__principle:hover {
    cursor: pointer;
    transition: all .5s;
    transform: translateY(8px);
    border-top: 0.9rem solid #f5a623;
}

.design__principle>div>div:first-child {
    display: grid;
    place-items: center;
    margin: 0 auto;
    height: 30px;
    margin-bottom: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.1rem solid #f5a623;
}

.design__principle>div>div:last-child {
    /* display: grid;
    place-items: center; */
}

.design__principle h5 {
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    text-decoration-line: underline;
    text-decoration-color: #f5a623;
    text-decoration-thickness: 5px;
    padding-bottom: 1rem;
}

.design__principle p {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.4;
    text-align: center;
}

.designPrincipleIcon {
    font-size: 1.4rem;
    color: #f5a623;
    transform: rotate(315deg);
}

.design_categories {
    width: 85%;
    margin: 0 auto;
    background-color: #323232;
    border-radius: 2rem;
    display: grid;
    place-items: center;
}

.design_categories p {
    font-size: 1.6rem;
    color: #ffffff;
    text-align: center;
    padding: 4rem;
}

.design_categories span {
    font-size: 2.3rem;
    color: #ffffff;
}

.design_inspire {
    width: 85%;
    margin: 0 auto;
}

.design_inspirebox {
    background-color: #323232;
    position: relative;
    padding-bottom: 2rem;
}

.dev_curve {
    width: 100%;
    min-height: 100vh;
    background-color: #171719;
    border-radius: 0% 0% 22% 94% / 14% 0% 10% 100%;
    /* border-radius: 0% 0% 84% 41% / 10% 10% 100% 9% ; */
}

.design_inspire_box {
    background-color: #D8D8D8;
    border-radius: 1rem;
    /* height: 50vh; */
    width: 90%;
    /* margin: 0 auto; */
    padding: 0.5rem;
}

.design_inspire_box>div,
.design_inspire_box_two>div,
.design_inspire_box_three>div {
    width: 50%;
    margin: 0.2rem auto;
    display: grid;
    place-items: center;
    background-color: #323232;
    border-radius: 8rem;
    padding: 4rem;
}

.design_inspire_box>div h4,
.design_inspire_box_two>div h4,
.design_inspire_box_three>div h4 {
    font-size: 1.2rem;
    color: #ffffff;
}

.design_inspire_box_two {
    background-color: #828282;
    border-radius: 1rem;
    /* height: 50vh; */
    width: 90%;
    padding: 0.5rem;
    margin: 10rem auto;
}

.design_inspire_box_three {
    background-color: #D8D8D8;
    border-radius: 1rem;
    /* height: 50vh; */
    width: 90%;
    /* margin: 0 auto; */
    padding: 0.5rem;
    margin-top: 18rem;
    float: right;
}

.design_arts_section {
    width: 85%;
    margin: 0 auto;
    min-height: 100vh;
}

.design_arts_box>div,
.design_arts_box_three>div {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: #828282;
    margin: 1rem 0 0 0;
}

.design_arts_box_two {
    display: grid;
    place-items: center;
}

.design_arts_box_two>div {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #828282;
}

.design_arts_box_three {
    float: right;
}