.design_container {
    width: 100%;
    min-height: 100vh;
}

.design_header_box {
    padding-top: 1rem;
}

.design_header_box h4 {
    font-size: 2.3rem;
    color: #ffffff;
    text-align: center;
    line-height: 1.6;
}

.design_intro h5 {
    font-size: 1.1rem;
    color: #ffffff;
    width: 68%;
    margin: 1rem auto;
    line-height: 1.6;
    text-align: center;
}

.design_section {
    width: 100%;
    min-height: 200px;
    padding: 6rem 0 0 0;
}

.design__image_box {
    display: grid;
    place-items: center;
    padding-bottom: 2rem;
}

.design__image_box img {
    width: 100%;
    object-fit: contain;
}

.design__principle {
    background: #171719;
    box-shadow: 20px 20px 25px #141415,
        -20px -20px 25px #1a1a1d;
    width: 80%;
    height: 200px;
    margin: 2rem auto;
    padding: 1rem;
    border-top: 0.3rem solid #f5a623;
    transition: all .5s;
}

.design__principle:hover {
    cursor: pointer;
    transition: all .5s;
    transform: translateY(8px);
    border-top: 0.9rem solid #f5a623;
}

.design__principle>div>div:first-child {
    display: grid;
    place-items: center;
    margin: 0 auto;
    height: 30px;
    margin-bottom: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.1rem solid #f5a623;
}

.design__principle>div>div:last-child {
    display: grid;
    place-items: center;
}

.design__principle h5 {
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    text-decoration-line: underline;
    text-decoration-color: #f5a623;
    text-decoration-thickness: 5px;
    padding-bottom: 1rem;
}

.design__principle p {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.4;
    text-align: center;
}

.designPrincipleIcon {
    font-size: 1.4rem;
    color: #f5a623;
}

.arrowIcon {
    font-size: 4rem;
    color: #f5a623;
    transition: all .5s;
    -webkit-animation: swing 5s infinite;
    animation: swing 5s infinite;
    /* -webkit-animation-duration: infinite;
    animation-duration: infinite; */
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes swing {

    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transform-origin: top center;
    }

    20% {
        -webkit-transform: rotate(15deg);
    }

    40% {
        -webkit-transform: rotate(-10deg);
    }

    60% {
        -webkit-transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}


.design__arrow_down {
    display: grid;
    place-items: center;
    margin-top: 3rem;
}

.design_categories {
    width: 70%;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.design_categories p {
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
    line-height: 1.6;
}

.design_categories span {
    font-size: 1.6rem;
    color: #ffffff;
}

.design_inspire {
    width: 80%;
    margin: 0 auto;
}

.design_inspirebox {
    background-color: #EEEEEE;
    position: relative;
    /* padding-bottom: 2rem; */
}

.dev_curve {
    width: 100%;
    min-height: 100px;
    background-color: #171719;
    /* border-radius: 0% 0% 22% 94% / 14% 0% 10% 100%; */
    /* border-radius: 0% 0% 0% 56% / 62% 10% 24% 45% ; */
}

.design_inspire_box {
    background: #171719;
    box-shadow: 20px 20px 25px #141415,
        -20px -20px 25px #1a1a1d;
    width: 70%;
    height: 100px;
    margin: 2rem auto;
    padding: 1rem;
    border-left: 0.3rem solid #f5a623;
    transition: all .5s;
    display: grid;
    place-items: center;
}

.design_inspire_box:hover,
.design_inspire_box_two:hover,
.design_inspire_box_three:hover {
    cursor: pointer;
    transition: all .5s;
    transform: translateX(8px);
    border-left: 0.9rem solid #f5a623;
}

.design_inspire_box>div h4,
.design_inspire_box_two>div h4,
.design_inspire_box_three>div h4 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: left;
    margin: 1rem;
}

.design_inspire_box_two {
    background: #171719;
    box-shadow: 20px 20px 25px #141415,
        -20px -20px 25px #1a1a1d;
    width: 70%;
    height: 100px;
    margin: 10rem auto;
    padding: 1rem;
    border-left: 0.3rem solid #f5a623;
    transition: all .5s;
    display: grid;
    place-items: center;
}

.design_inspire_box_three {
    background: #171719;
    box-shadow: 20px 20px 25px #141415,
        -20px -20px 25px #1a1a1d;
    width: 70%;
    height: 100px;
    margin: 2rem auto;
    padding: 1rem;
    border-left: 0.3rem solid #f5a623;
    transition: all .5s;
    display: grid;
    place-items: center;
}

.design_arts_header h4 {
    font-size: 1.4rem;
    color: #1c1c1c;
    text-align: center;
    line-height: 1.6;
}

.design__principle_header h4 {
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    line-height: 1.6;
}

.design_arts_section {
    width: 100%;
    margin: 4rem auto;
}

.design__artwork {
    display: grid;
    place-items: center;
    margin: 1rem;
}

.design__artwork img {
    width: 100%;
    object-fit: contain;
}