.development_container {
  width: 100%;
  min-height: 100vh;
}

.dev_header_box {
  padding-top: 1rem;
}

.dev_header_box h4 {
  font-size: 2.3rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 1px;
}

#slash {
  color: #f5a623;
}

.dev_intro h5 {
  font-size: 1.1rem;
  color: #ffffff;
  width: 68%;
  margin: 1rem auto;
  line-height: 1.6;
  text-align: center;
}

.dev_art_box {
  width: 220px;
  height: 220px;
  margin: 2rem auto;
  background: #d8d8d8;
  border-radius: 50%;
  transition: all 0.5s;
}

.dev_art_box:hover,
.dev_art_box_curve:hover {
  transition: all 0.5s;
  transform: scale(1.02);
}

.dev__quote_box {
  display: grid;
  place-items: center;
}

.dev__quote_box > div {
  text-align: center;
}

.dev__quote_box > div p {
  font-size: 1rem;
  color: #ffffff;
  margin: 1rem;
}

.dev__quote_box > div h4 {
  font-size: 1.4rem;
  color: #ffffff;
  font-family: "freeStyleScript", "NunitoRegular", sans-serif;
}

/*  Section css */
.development_section {
  padding: 6rem 0 4rem 0;
}

.dev_section_box {
  width: 85%;
  margin: 0 auto;
}

.dev_section_intro {
  min-height: 500px;
  display: grid;
  place-items: center;
}

.dev_section_intro > div > div:last-child,
.dev_section_intro_right > div > div:last-child {
  margin-top: 2rem;
}

.dev_section_intro_right {
  min-height: 500px;
  display: grid;
  place-items: center;
}

.dev_section_intro h4,
.dev_section_intro_right h4 {
  font-size: 1.8rem;
  color: #ffffff;
  line-height: 1.6;
  text-align: left;
}

.dev_section_intro h5,
.dev_section_intro_right h5 {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: left;
}

.dev_section_intro h6,
.dev_section_intro_right h6 {
  font-size: 0.9rem;
  color: #ffffff;
  margin-left: 0.2rem;
}

.dev_trait_box {
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
}

.dev_section_intro p,
.dev_section_intro_right p {
  font-size: 1.2rem;
  color: #ffffff;
  line-height: 1.4;
}

.dev_section_art {
  background: transparent;
  min-height: 500px;
  width: 90%;
  position: relative;
  text-align: center;
}

.dev_section_two_art {
  background: transparent;
  min-height: 500px;
  width: 90%;
  border-radius: 1rem;
  position: relative;
}

.dev_section_art img,
.dev_section_two_art img {
  width: 90%;
  object-fit: contain;
  border-radius: 1rem;
  transition: all 0.5s;
}

.dev_section_art img:hover {
  transition: all 0.5s;
  transform: scale(1.03) rotate(1deg);
  filter: grayscale(80%);
}

.dev_section_two_art img:hover {
  transition: all 0.5s;
  transform: scale(1.03) rotate(-1deg);
  filter: grayscale(80%);
}

.circle_art {
  margin: 2rem 0 2rem 0;
}

.note_top_left {
  position: absolute;
  top: -2.6rem;
  left: -2.8rem;
}

.note_bottom_left {
  position: absolute;
  bottom: -2.6rem;
  left: -2.8rem;
}

.note_top_right {
  position: absolute;
  top: -2.6rem;
  right: -2.8rem;
}

.note_bottom_right {
  position: absolute;
  bottom: -2.6rem;
  right: -2.8rem;
  transform: translate(-90deg);
}

.development_products > div:nth-child(odd) {
  background-color: #fcfcfc;
}

.development_products > div:nth-child(even) {
  background-color: #eeeeee;
}

.dev_product {
  width: 100%;
  min-height: 500px;
  padding: 2rem 0 2rem 0;
}

.product__header {
  width: 100%;
  display: grid;
  place-items: center;
  height: 80px;
}

.product__header h4 {
  font-size: 1.8rem;
  color: #1c1c1c;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 1px;
}

.product__box {
  width: 80%;
  min-height: 500px;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.product__box_two {
  /* background-color: rgb(248, 248, 248); */
  width: 100%;
  min-height: 500px;
  text-align: center;
}

.product__box_two img {
  width: 100%;
  object-fit: contain;
}

.product__box p {
  font-size: 1rem;
  color: #1c1c1c;
  line-height: 1.6;
}

.product__box h5 {
  font-size: 1.2rem;
  color: #1c1c1c;
  text-align: center;
}

.traitIcon {
  font-size: 1.3rem;
  color: #f5a623;
  margin-right: 0.2rem;
}

.more_product {
  background-color: #1c1c1c;
  width: 60%;
  height: 300px;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  place-items: center;
  border-top: 0.3rem solid #f5a623;
  transition: all 0.5s;
}

.more_product:hover {
  cursor: pointer;
  transition: all 0.5s;
  transform: translateY(8px);
  border-top: 0.9rem solid #f5a623;
}

.more_product h5 {
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
  text-decoration-line: underline;
  text-decoration-color: #f5a623;
  text-decoration-thickness: 5px;
  padding-bottom: 1rem;
}

.more_product p {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.4;
  text-align: center;
}
