.home_container {
  padding: 1rem 0 1rem 0;
}

/* home intro */
.home_intro {
  padding-top: 1rem;
}

.home_intro h4 {
  font-size: 2.3rem;
  color: #ffffff;
  text-align: center;
  width: 68%;
  margin: 0 auto;
  line-height: 1.6;
  letter-spacing: 1px;
}

.home_apps {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.home_apps h5 {
  font-size: 1.1rem;
  color: #bababa;
  margin: 0 1rem 0 1rem;
}

/* home cards */
.home_cards_box {
  width: 80%;
  margin: 2rem auto;
}

.home_card_one {
  width: 65%;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 350px;
  border-radius: 1.2rem;
  padding: 0.5rem;
  transition: all 0.5s;
}

.home_card_one>div:first-child {
  background-color: #3f3f3f;
  display: grid;
  place-items: center;
  height: 30vh;
  border-radius: 1.2rem;
}

.home_card_one>div:first-child h4,
.home_card_two>div:last-child h4 {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: normal;
  transition: all 0.5s;
}

.home_card_one>div:last-child {
  margin-top: 3.5rem;
}

.home_card_one>div:last-child>div,
.home_card_two>div:first-child>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home_card_one>div:last-child>div h5,
.home_card_two>div:first-child>div h5 {
  font-size: 1rem;
  color: #828282;
  line-height: 1.6;
  transition: all 0.5s;
}

.home_card_two {
  width: 65%;
  margin: 6.5rem auto;
  background-color: #ffffff;
  min-height: 250px;
  border-radius: 1.2rem;
  padding: 0.5rem;
  position: relative;
  transition: all 0.5s;
}

.home_card_two>div:last-child {
  background-color: #3f3f3f;
  display: grid;
  place-items: center;
  height: 22vh;
  border-radius: 1.2rem;
  position: absolute;
  bottom: 0.5rem;
  width: 93.5%;
}

.home_card_one:hover,
.home_card_two:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}

.home_card_one>div:last-child>div h5:hover,
.home_card_two>div:first-child>div h5:hover,
.home_card_one>div:first-child h4:hover,
.home_card_two>div:last-child h4:hover {
  transition: all 0.5s;
  transform: scale(0.9);
}

/* Development / design / team sections */
.section_box {
  width: 85%;
  margin: 6rem auto;
}

.section_two_box {
  width: 85%;
  margin: 6rem auto;
}

.team_art_box {
  background: transparent;
  min-height: 400px;
  width: 45%;
  border-radius: 0.5rem;
  position: relative;
  display: grid;
  place-items: center;
}

.section_art_box {
  background: transparent;
  min-height: 500px;
  width: 90%;
  position: relative;
  text-align: center;
}

.section_two_art_box {
  background: transparent;
  min-height: 500px;
  width: 90%;
  border-radius: 1rem;
  position: relative;
  float: right;
  margin-top: 6rem;
}

.section_art_box img,
.section_two_art_box img {
  width: 90%;
  object-fit: contain;
  border-radius: 1rem;
  transition: all .5s;
}

.section_art_box img:hover {
  transition: all .5s;
  transform: scale(1.03) rotate(1deg);
  filter: grayscale(80%);
}

.section_two_art_box img:hover {
  transition: all .5s;
  transform: scale(1.03) rotate(-1deg);
  filter: grayscale(80%);
}

.section_intro_box {
  min-height: 500px;
  display: grid;
  place-items: center;
}

.section_intro_box h4 {
  font-size: 2rem;
  color: #ffffff;
  line-height: 1.6;
  letter-spacing: 1px;
}

.section_intro_box p {
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 1.4;
}

.section_intro_box button {
  margin-top: 1rem;
}

.note_right {
  position: absolute;
  top: -2.6rem;
  right: -2.8rem;
}

.note_left {
  position: absolute;
  top: -2.6rem;
  left: -2.8rem;
}

/*  combo projects box */
.section_projects_container {
  padding: 2rem 0 2rem 0;
}

.section_projects_container>div:first-child h4 {
  font-size: 1.8rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;
}

.projects_empty_slider {
  background-color: #141414;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.projects_empty_slider p {
  font-size: 1rem;
  color: #ffffff;
  letter-spacing: 2px;
}

.projects_slider p {
  font-size: 0.8rem;
  color: #ffffff;
  position: absolute;
  bottom: 5%;
  left: 50%;
  /* background-color: rgb(28, 28, 28, 0.2);
  border: 0.1rem solid #B2B2B2; */
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  border-radius: 0.2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .fanIcon {
    color: #F5A623;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 0.8rem;
  }
}

.fanIcon:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  transform: scale(1.2);
  -webkit-transform: scale(1.5);
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}