@media (prefers-reduced-motion: no-preference) {
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app_body {
  width: 100%;
  min-height: 100vh;
  background-color: #171719;
}

.app_footer {
  background-color: #828282;
}

#slash {
  color: #F5A623;
}

.contact {
  width: 80%;
  margin: 1rem auto;
}

.contact h4 {
  font-size: 1.4rem;
  color: #F5A623;
  text-align: center;
  margin: 0.85rem 1rem 1rem 0;
}

.contact button {
  width: 40%;
  height: 2.5rem;
  display: inline-block;
  font-size: 0.9rem;
  border: 0.01rem solid #ffffff;
  border-radius: 2rem;
  text-align: center;
  background-color: transparent;
  color: #ffffff;
  transition: all .3s;
  box-sizing: border-box;
  outline: none;
}