@media (prefers-reduced-motion: no-preference) {}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.app_body {
  width: 100%;
  min-height: 100vh;
  background-color: #171719;
}

.app_footer {
  background-color: #828282;
}

#slash {
  color: #F5A623;
}

.contact {
  width: 80%;
  margin: 1rem auto;
}

.contact h4 {
  font-size: 1.4rem;
  color: #F5A623;
  text-align: center;
  margin: 0.85rem 1rem 1rem 0;
}

.contact button {
  width: 40%;
  height: 2.5rem;
  display: inline-block;
  font-size: 0.9rem;
  border: 0.01rem solid #ffffff;
  border-radius: 2rem;
  text-align: center;
  background-color: transparent;
  color: #ffffff;
  transition: all .3s;
  box-sizing: border-box;
  outline: none;
}

.swiper {
  width: 100%;
  height: 500px;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

.swiper-pagination-bullet-active {
  color: #F5A623;
  background: #ffffff;
}

.prev {
  position: absolute;
  left: 2%;
  top: 50%;
  cursor: pointer;
  z-index: 1000;
}

.next {
  position: absolute;
  right: 2%;
  top: 50%;
  cursor: pointer;
  z-index: 1000;
}

.iconArrow {
  color: #F5A623;
  font-size: 2.2rem;
}