* {
  margin: 0;
}

@font-face{
  font-family: 'NunitoRegular';
  src: url('./assets/fonts/Nunito-Regular.ttf') format('true');
  /* font-weight: normal; */
}

@font-face{
  font-family: 'FuturaMedium';
  src: url('./assets/fonts/FuturaMedium.ttf') format('true');
  /* font-weight: normal; */
}

@font-face{
  font-family: 'freeStyleScript';
  src: url('./assets/fonts/freeStyleScript.ttf') format('true');
  /* font-weight: normal; */
}

body {
  margin: 0;
  font-family: 'NunitoRegular', 'FuturaMedium', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
