.principle_box {
    display: flex;
    align-items: center;
    background-color: #323232;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin: 0.3rem 0 0.3rem 0;
}

.principle_box > div:first-child {
    display: grid;
    place-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 0.1rem solid #F5A623;
    -webkit-box-shadow: 0 2px 5px -1px #F5A623;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 2px 5px -1px #F5A623;  /* Firefox 3.5 - 3.6 */
    box-shadow: 0 2px 5px -1px #F5A623;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    
    /* for box shadow properties */
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
}

.principle_box > div:last-child {
    margin-left: 1rem;
}

.principle_box > div:last-child h4 {
    font-size: 1.4rem;
    color: #ffffff;
    line-height: 1.6;
}

.principle_box > div:last-child p {
    font-size: 1rem;
    color: #ffffff;
}