.our_team_container {
    /* background-color: bisque; */
}

.our_team_container>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
    transition: all .5s;
}

.our_team_container>div:hover {
    transition: all .5s;
    transform: scale(.8);
}